body{
    background-image: url('dark_wood.png');


}

p{
  background-color: #8E41D5
}

h3{
  background-color: #8E41D5
}

li{
  background-color: #8E41D5
}

#Header{
    border: solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8E41D5;


}

#Header h1{
  font-size: 60px;
  font-family: "Passion One";
  color: #FFBC00;
  font-weight: bold;
  margin-bottom: 0px;
  background-color: #8E41D5;
}

#LeftNav{
    border:solid 8px black;
    width: 400px;
    float: left;
    text-align: center;
    padding-bottom: 8px;
    background-color: #8E41D5;



}

#LeftNav img{
    background-color: #8E41D5;


}

#LeftNav ul{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  list-style-type: none;
  padding-left: 0px;
  padding-bottom: 8px;
  background-color: #8E41D5;

}

#LeftNav h3{
  color: #FFBC00;
  font-size: 60px;
  margin-bottom: 0px;
  font-family: "Passion One";
  background-color: #8E41D5;

}

#Content{
    border:solid 8px black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-family: arial;
    background-color: #8E41D5;



}

#Footer{
    border:solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    background-color: #8E41D5;

}

#Footer ul{
  list-style-type: none;
  padding-left: 0px;
}
